.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #2b2926;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 85px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 35px;
}

/* Style commun pour les liens */
.link, .activeLink {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.link {
  color: #fdfaf5;
}

/* --- LE SOULIGNEMENT DORÉ --- */
.activeLink {
  color: #c5a059;
  border-bottom: 2px solid #c5a059;
  font-weight: 600;
}

.link:hover {
  color: #c5a059;
  border-bottom: 2px solid #c5a059;
}

.cta {
  text-decoration: none;
  color: #fdfaf5;
  border: 1px solid #c5a059;
  padding: 10px 25px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}

.cta:hover {
  background-color: #c5a059;
  color: #fff;
}

/* --- BURGER --- */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  width: 28px;
  height: 2px;
  background-color: #c5a059;
  transition: 0.3s;
}

/* --- RESPONSIVE MOBILE (< 900px) --- */
@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  .actions {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: #2b2926;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: -10px 0 20px rgba(0,0,0,0.3);
  }

  .menuOpen {
    right: 0;
  }

  .link, .activeLink {
    font-size: 1.1rem;
  }

  /* Animation du Burger en X */
  .activeBurger span:nth-child(1) { transform: rotate(45deg) translate(6px, 6px); }
  .activeBurger span:nth-child(2) { opacity: 0; }
  .activeBurger span:nth-child(3) { transform: rotate(-45deg) translate(5px, -5px); }
}